

.main{
    width: 100%;
    margin: 0;
}
/*HEADER*/
header{
    margin-left: 4%;
    margin-right: 4%;
    
}
.head__up{
    grid-template-rows: 70px 50px;
    grid-template-columns: 1fr 1fr;
}
.link__3{
    grid-row: 1;
    grid-column: 2 / 3;
    width: 187px;
    text-align: right;
    padding-right: 10px;;
}
.link__1{
    grid-row: 2;
    grid-column: 1 / 2;
}
.link__2{
    grid-row: 2;
    grid-column: 2 / 3;
}
h2, h4{
    line-height: 25px;;
}
h2{
    margin-top: 30px;
    
}
h4{
    margin-top: 15px;
    margin-bottom: 30px;   
}
#field{
    width: 250px;
}
.search__2{
    display: none;
}
.fa-search{
    opacity: 1;
    background-color: #0065fc;
    width: 50px;
    height: 50px;
    color: white;
    border-radius: 1rem 1rem 1rem 1rem;
    text-align: center;
    padding-top: 16px;
    margin-left: -10px;
    
}

/*FILTRES*/

.filter{
    flex-direction: column;
    flex-wrap: wrap;
}
.filter__search{
    width: 100%;   
}
.button{
    margin-left: 0px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.button__one{
    width: 177px;
}
.button__two{
    width: 138px;
}

/*PARTIE CENTRALE*/
.central__part{
    flex-direction: column-reverse;
    width: 100%;
}
.section__2{
    display: flex;
    flex-direction: column;
    width: 100%;  
    border-radius: 0; 
    height: 600px;
}
.section__1{
    display: flex;
    flex-direction: column;
    margin-top: 0;
    width: 100%;
    height: 1500px;
    padding-bottom: 60px;
    background-color: transparent;
}
.section__1 h2{
    font-size: 20px;
    
}
.div1__img--all{
    width: 337px;
    height: 196px;
    box-shadow: -3px 0px 17px 0px rgba(242,242,242,1);
}
.text__1{
    width: 337px;
    top: 107px;
}
.text__1 p{
    padding-left: 10px;
    padding-top: 10px;  
    line-height: 10px; 
}
.affichez{
    margin-left: 10px;
}

/*SECTION 3*/
.titre1{
    margin-top: 0;
}
.section__3{
    display: flex;
    flex-direction: column;
    height: 1260px;   
}
.section__3--gauche, .section__3--droit{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 630px;
    justify-content: start;
    align-items: center;
}

.kevin, .lena{
    margin-top: 0;
}
.reno, .paul, .kevin, .kilyan, .florian, .lena{
    width: 340px;
    height:189px;
    margin-bottom: 20px;
}
.texteimage{
    width: 340px;
    top: 133px;
}
/*FOOTER*/

footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 570px;
    padding-right: 0;
    align-items: flex-start;
    justify-content: center;
}
.propos, .nos__heberg, .assistance{
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 0;   
}

