.head__up{
    grid-template-rows: 60px 60px;
    grid-template-columns: 1fr 1fr;
}
.link__3{
    grid-row: 1;
    grid-column: 2 / 3;
    width: 187px;
    text-align: right;
    padding-right: 10px;;
}
.link__1{
    grid-row: 2;
    grid-column: 1 / 2;
}
.link__2{
    grid-row: 2;
    grid-column: 2 / 3;
}

/*PARTIE CENTRALE*/
/*////////////////////////////////*/
.central__part{
    flex-direction: column;
    width: 100%;
    height: auto;
}

/*section 1*/
.section__1{
    width: 100%;
    grid-template-rows: 80px 210px 210px 210px 100px;
    grid-template-columns: 1fr 1fr;
    height: 800px;
}
.section__1 h2{
    grid-row: 1;
    grid-column: 1 / 3;
}

.img__1{
    grid-row: 2;
    grid-column: 1 / 2;
}
.img__2{
    grid-row: 2;
    grid-column: 2 / 3;
}
.img__3{
    grid-row: 3;
    grid-column: 1 / 2;
}
.img__4{
    grid-row: 3;
    grid-column: 2 / 3;
}
.img__5{
    grid-row: 4;
    grid-column: 1 / 2;
}
.img__6{
    grid-row: 4;
    grid-column: 2 / 3;
}

/*section2*/
.section__2{
    width: 100%;
}

/*section3*/

.section__3{
    flex-direction: column;
    justify-content: space-between;
    
    height: 1000px;
    width: 100%;
}
.section__3--droit, .section__3--gauche{
    width: 100%;
   margin-left: 30px;  
}

/*FOOTER*/
footer{
    height: 260px;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 20px;
}
.propos, .nos__heberg, .assistance{
    padding-right: 100px;
}


